.belowContainer {
    border-top: 1px solid #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.belowTerms {
    font-size: 12px;
    color: #4d4d4d;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: normal;
    cursor: pointer;
    transition: .25s all;
}

.belowTerms:hover {
    color: #98b020;
}

.belowLine {
    height: 10px;
    width: 1px;
    background-color: #4d4d4d;
}

.belowP {
    font-size: 10px;
    color: #4d4d4d;
    text-transform: uppercase;
    letter-spacing: 1px;
}